.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10%;
  text-align: center;
  background: #45b5aa;
  width: 80%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App h1 {
  font-size: 2.5rem;
  color: #10162b;
}

form {
  display: flex;
  padding-left: 35%;
}

input {
  width: 300px;
  border: none;
  border-bottom: #10162b;
  margin-right: 1%;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  border: none;
 
}

button {
  width: 80px;
  height: 40px;
  text-decoration: none;
  background: #ffa891;
  color: #10162b;
  border: none;
  margin: 1%;
}

button:hover{
  background: #10162b;
  color: #ffa891;
}

h3 {
  font-size: 2rem;
  color: #10162b;
}

.individual-item {
  width: 50%;
  padding-left: 25%;
}

p {
  font-size: 2rem;
  color: #0f4c81;
  cursor: pointer;
  text-align: center;
}